<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Добро пожаловать в Parsing Sentence!</a>

    <div class="col-order-last">
      <button type="button" class="btn btn-success btn-sm" (click)="toggleLoginForm()" *ngIf="!userLogin">Логин</button>
      <span class="text_color" *ngIf="userLogin">Вы вошли как: {{userLogin}}</span>
    </div>
  </div>
</nav>
<hr>
<div class="mx-auto" style="width: 740px">

  <div class="form-group" *ngIf="isShowLoginForm">
    <input type="email" class="form-control" placeholder="Логин" [(ngModel)]="login"> <br>
    <input type="password" class="form-control" placeholder="Пароль" [(ngModel)]="password"> <br>
    <button type="button" class="btn btn-success btn-sm" (click)="loginIn()">Войти</button>
  </div>

  <div class="container">
    <div class="row">
      <textarea rows="10" cols="100" placeholder="Введите текст" [(ngModel)]="parsingText"></textarea>
    </div>
    <br>
    <div class="row">
      <div class="col-order-first">
        <button type="button" class="btn btn-success btn-sm" (click)="sendToParseText()">Выполнить</button>
      </div>
      <div class="col-lg-2">
        <button type="button" class="btn btn-danger btn-sm">Очистить</button>
      </div>
      <div class="col-lg-2">
        <button type="button" class="btn btn-secondary btn-sm">Справка</button>
      </div>

        <div class="col-lg-2" *ngIf="userLogin">
          <button type="button" class="btn btn-secondary btn-sm">Избранное</button>
        </div>
        <div class="col-lg-2" *ngIf="userLogin">
          <button type="button" class="btn btn-secondary btn-sm">Добавить в Избранное</button>
        </div>


    </div>
    <br>
    <div class="row">
      <textarea id="textarea2" rows="10" cols="100">{{resultData}}</textarea>
    </div>
  </div>
</div>