<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Добро пожаловать в Parsing Sentence!</a>
    </div>
  </nav>
<hr>
<div class="mx-auto" style="width: 500px">
  <div class="container">
    <div class="row">
      <textarea id="textarea1" rows="10" cols="100" placeholder="Введите текст">{{textData}}</textarea>
    </div>
    <br>
    <div class="row">
      <div class="col-order-first">
          <button type="button" class="btn btn-success btn-sm" (click)="toggleSubmitButton()">Выполнить</button>
      </div>
      <div class="col">
          <button type="button" class="btn btn-danger btn-sm" (click)="toggleClearButton()">Очистить</button>
      </div>
      <div class="col-order-last">
          <button type="button" class="btn btn-secondary btn-sm" (click)="toggleButtonInfo()">Справка</button>
      </div>
    </div>
    <br>
    <div class="row">
        <textarea id="textarea2" rows="10" cols="100">{{resultData}}</textarea>
    </div>
  </div>
</div>